body {
    background: linear-gradient(90deg, #FF512F 0%, #F09819 100%);
    font-family: 'Open Sans';
}
.a {
   color:#5581b5;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-family: 'Open Sans';
    padding-left: 15px;
    margin-top: 0px;
}
.header {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 9vh;
    color: white;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.header__start {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.125em;
    margin: auto;
}
.header__end {
    font-size: 3.125em;
    margin: 0%;
}
.title{
    font-family: 'Open Sans';
    font-size: 15px;
}
.fa-heart {
    font-size: 20px;
    margin: 0 5px;
}
.help{
    color: #C0500E;
}
.inputs {
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;   
    padding-bottom: 20px;
}
.input__json {
    width: 46%;
}
.input__output {
    width: 46%;
    
}
.form-control[id="inputTextArea"] {
    height: 75.5vh;
    background-color: white;
}

.form-control[readonly] {
    height: 75.5vh;
    background-color: white;
}
.main {
    margin-top: 77px;
    display: grid;
    grid-gap: 30px;
    font-size: 30px;
    color: white;
    width: 78px;
}
button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    text-decoration: none;
    border: none;
    outline: none;
}
button:hover {
    transform: scale(1.2);
    border: none;
    text-decoration: none;
}
.tooltip.top:hover .buttom__transforms{
    margin-left: -60px;
    bottom: 150%;
    left: 50%;
}
.footer {
    height: 5vh;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Open Sans';
}
.footer a {
    color: #ffffff;
    font-weight: bold;
}
@media (max-width: 900px) {
    .inputs {
        display: block;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 10px;
    }
    .form-control[id="inputTextArea"] {
        width: 212%;
        height: 60vh;
    }   
    .form-control[readonly] {
        width: 212%;       
    }
    .main {
        grid-template-columns: repeat(4, 50px);
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .title {
        margin-top: 0%;
    }
    .header__start {
        font-size: 2em;
        margin: auto;
        padding-right: 20px;
        padding-top: 5px;
    }
    .header__end {
        font-size: 20px;
        margin: 0%;
        padding-top: 5px;
    }
}
.footer__text {
    padding: 10px 10px; 
    text-align: center;
    font-size: 16px;
}